* {
	margin: 0;
	padding: 0;
}
.App {
	display: grid;
	grid-template-areas:
		'header header header'
		'nav content content';
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;

	margin: 0 auto;
	width: 1200px;
	
}

.content-app{
	grid-area: content;
	background-color: rgba(156, 204, 10, 0.322);
}